body {
	overflow-x: hidden !important;
}
b {
    font-weight: 700;
}
button {
    transition: all .5s;
}
p i {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.position-relative {
	position: relative !important;
}
.pt-30 {
	padding-top: 30px;
}
.pb-200 {
	padding-bottom: 250px;
}
.ml-130 {
	margin-left: 130px;
}
.mr-10 {
	margin-right: 10px;
}
.mt-120 {
	margin-top: 120px;
}
.mb-120 {
	margin-bottom: 120px;
}
.width-50 {
	width: 50px;
}
.mw-70 {
	max-width: 70px !important;
}
.o-visible {
	overflow: visible;
}
.d-none {
	display: none;
}
.disabled {
    opacity: .2;
    cursor: not-allowed;
    pointer-events: none;
}
.darkgray-text p {
 	color: #273240 !important;
}
.darkgray-border {
	border:1px solid #273240;
}
.hotel-top-bar .logo img {
	max-width:auto;
	height: 58px;
	margin-right: 4px;
}
.experience-in-mauritius p {
	max-width: 600px;
}
.positive-impact-testimonial .experience-in-mauritius p {
	max-width: 500px;
}
.positive-impact-testimonial .experience-in-mauritius div.beige-text p {
	color: #D3D6D8;
}
.hotel-item-lightbox .block {
	width: 200px;
}
.hotel-selected .ah-experience li:nth-child(1) div,
.hotel-selected .ah-experience li:nth-child(2) div,
.hotel-selected .ah-experience li:nth-child(3) div,
.hotel-selected .ah-experience li:nth-child(4) div,
.hotel-selected .ah-experience li:nth-child(5) div,
.hotel-selected .ah-experience li:nth-child(6) div,
.hotel-selected .ah-experience li:nth-child(7) div,
.hotel-selected .ah-experience li:nth-child(8) div {
    background-color: transparent;
}
.hotel-selected .ah-experience li:nth-child(1) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(2) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(3) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(4) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(5) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(6) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(7) div.ah-exp-hover,
.hotel-selected .ah-experience li:nth-child(8) div.ah-exp-hover {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	transition: all .5s;
}
.bullet-list.iconic-list span img.icon {
    width: 45px;
    height: 45px;
}
.selected-room-desc .bullet-list.flex-wrap span:not(:nth-child(n+3)) {
    margin-top: 20px;
}
.experience-in-mauritius li {
	margin-left: 25px;
	list-style-type: disc;
    letter-spacing: .36px;
    line-height: 24px;
    color: #4e5965;
}
.experience-in-mauritius .committed-hotel-props li {
	list-style-type: none;
	margin-left: 0;
}
.prompt-para-icon-alt.absolute {
    left: -200px;
    top: -40px;
}
.has-left-parent .prompt-para-icon-alt.absolute {
    left: auto;
    right: -100px;
}
.body-covered {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.body-covered::before,
.ah-popup-layer {
    z-index: 5;
}
.hotel-selected-tabs {
    top: 66px;
    z-index: 2;
}
.hotel-selected .hotel-selected-tabs.large {
    top: 122px;
}
.hotel-selected-tabs .container {
	overflow: auto;
}
.hotel-selected .exp-act .gallery-items .swiper-container {
    max-width: none;
}
.booking-bar:not(.book-now-bar).has-higher-level {
    z-index: 5;
}
.exp-act .exp-act-list img.gallery-item-img {
    max-width: 401px;
    height: 300px;
}
.double-list ul {
	width: 50%;
	float: left;
}
.bullet-list.simple-list.double-list li {
	width: 100%;
}
.experience-in-mauritius .our-spa-products-adv em {
    background-color: transparent;
}
.kids-sticker {
	padding: 0;
}
.has-higher-level,
.booking-bar.book-now-bar.has-higher-level {
    z-index: 5;
}
div.gallery-items-para {
	color: #5F6A75 !important;
}
.kids-services-facilities .bullet-list {
	height: auto;
}
.our-hotels-list {
    padding-bottom: 0;
}
.has-icon.left {
    left: 0;
    position: absolute;
}
.has-icon.right {
    right: 0;
    position: absolute;
}
.has-icon.top {
    top: 0;
    position: absolute;
}
.has-icon.bottom {
    bottom: 0;
    position: absolute;
}
.eat-drink-intro-text {
	max-width: inherit;
	height: auto;
}
.hotel-selected .gallery-items .flex .gallery-item-img {
	max-width: 618px;
	height: 440px;
}
.ah-filter-menu input[type="radio"] ~ .ah-filter-menu-checkbox::before,
.ah-filter-menu input[type="checkbox"] ~ .ah-filter-menu-checkbox::before {
	padding: 5px;
    border-radius: 50%;
}
.ah-filter-menu .guests {
    display: inline-block;
    border: none;
    width: 20px;
    margin: 0 4px;
    font-size: 14px;
    text-align: center;
}
.ah-filter-menu .guests:focus {
	border: none;
}
button.ah-btn {
	border: none;
	font-size: 15px;
}
.ah-filter-guests-age-counter button {
    width: 24px;
    height: 24px;
    color: #778593;
    cursor: pointer;
    background-color: transparent;
}
.ah-filter-selection {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 28px;
}
.ah-filter-rooms {
	max-width: 302px;
}
.top-navigation li a.sub-nav-title {
	margin-right: 0;
}
.ah-experience li {
    cursor: auto;
}
.our-hotels-list .discover-other-rooms li:last-child {
    visibility: visible;
}
.hotel-top-bar .top-navigation .ah-btn {
	margin-left: 100px;
}
.bullet-list span {
	margin-top: 10px;
}
.ah-popup-layer {
	overflow: scroll;
}
.ah-popup-inner {
	max-height: inherit;
}
.content p {
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.content li {
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.container-fluid {
	max-width: 50%;
}
.container-fluid p {
	margin-bottom: 20px;
	max-width: inherit;
}
.get-a-quote-form select {
	margin: 0;
	opacity: 1;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	background:url("../images/get-a-quote/dropdown-arrow-small.svg");
	background-repeat: no-repeat;
	background-position: calc(100% - 14px);
}
.get-a-quote-form input.ah-filter-guests-age {
    padding: 0;
    height: auto;
}
.get-a-quote-form > div:first-child {
	max-width: 50%;
}
.language-switcher > a,
.language-switcher ul li.active a,
.language-switcher ul li a:hover {
    font-weight: bold;
}
.hotel-selected .spa-features.pt-100 {
    padding-top: 50px;
}
.title-section {
	overflow: hidden;
}
.title-section .logo-title {
	max-width: 120px;
}
.title-section .has-icon {
    position: absolute;
}
.title-section .has-icon.top-aligned {
    left: 0;
    top: 0;
}
.title-section .has-icon.top-aligned {
    bottom: 20px;
}
.title-section .has-icon.bottom-aligned {
    right: 0;
    bottom: 0;
    top: 20px;
}

.ui-widget-content td {
	position: relative;
}
.ui-widget-content .from:before,
.ui-widget-content .to:before {
	content: "";
	width: 16px;
	height: 32px;
	background: #f1f4f7;
	position: absolute;
	top: 0;
	z-index: -1;
}
.ui-widget-content .from:before {
	right: 0;
}
.ui-widget-content .to:before {
	left: 0;
}
.ui-widget-content .range {
    background: #f1f4f7;
}
.ui-widget-content .from a.ui-state-default,
.ui-widget-content .to a.ui-state-default {
    background: #03AAC9;
    color: #fff;
}
.ah-filter-item-checkbox ~ .ah-filter-menu {
	transition: all .1s;
}
.contact-us-img {
	max-width: 64px;
}
.contact-information-img {
	max-width: 32px;
}
.title-section {
    height: auto;
}
.our-hotels-list .gallery-item-img {
	height: auto;
}
.ah-popup-inner span {
	line-height: 1.2rem;
}
.restaurant-category .gallery-items .swiper-container {
    max-width: 618px;
    z-index: 0;
}
.restaurant-category .gallery-items .flex .gallery-item-img {
    max-width: 618px;
    height: 440px;
}
.restaurant-category .gallery-room-content {
    margin-left: 100px;
    margin-right: 100px;
}
.restaurant-category .result-item-title {
    max-width: none;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: .71px;
}
.restaurant-category .result-item-title a {
    color: #273240;
}
.restaurant-category .gallery-items-para {
    -webkit-line-clamp: initial;
}
.swiper-container .ah-swiper-arrows div[class^="swiper-button-"] {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	left: inherit;
	right: inherit;
	z-index: 2;
}

.swiper-container .ah-swiper-arrows div.swiper-button-prev {
	left:20px;
}

.swiper-container .ah-swiper-arrows div.swiper-button-next {
	right:20px;
}


.ah-swiper-header .ah-swiper-arrows {
    padding: 0 24px;
}
.ah-swiper-header .ah-swiper-arrows {
    top: calc(50% - 15px);
    justify-content: space-between;
    z-index: 2;
}
.ah-swiper-header:hover .ah-swiper-arrows {
    opacity: 1;
    visibility: visible;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: pointer;
    pointer-events: all;
}
.dark .experience-in-mauritius h2 {
	color: #fff;
}
.dark .experience-in-mauritius p,
.dark .experience-in-mauritius li {
	color: #d3d6d8;
}
.light .title-section p {
    color: #4e5965;
}
.dark .result-item-title,
.dark .darkgray-text {
	color: #fff;
}
.dark .meetings-events-list.our-hotels-list .gallery-items .gallery-items-para p {
	color: #d3d6d8;
}
.list-by-cols-wrapper li a {
	display: contents;
}
.positive-impact .eat-drink-intro-text {
    max-width: 680px;
}
.positive-impact.hotel-selected-tabs.has-border-top {
    border-top: 1px #d2dfe7 solid;
    border-bottom: 1px #d2dfe7 solid;
}
.positive-impact.hotel-selected-tabs {
    top: 66px;
    border-top: 0;
    border-bottom: 0;
    height: 50px;
    background: #fff;
    z-index: 1;
}
.positive-impact-quote {
	min-height: 152px;
	height: auto;
}
.beige-text {
    color: #D3D6D8 !important;
}
.white-text p {
    color: #fff;
}
.features-block li::before {
	background: none;
	width: 0;
	height: 0;
	content: none;
}
.features-block li .icon-holder {
    width: 40px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.info-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	right: -24px;
	top: -1px;
}
.ui-tooltip {
	background-color: #fff;
	border: solid 2px #eaeaea !important;
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	padding: 15px;
}
.ui-tooltip .ui-tooltip-content {
	font-family: 'Lato', sans-serif;
	color: #5F6A75;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .31px;
}
.top-navigation .sub-nav li {
    min-width: 140px;
}
.top-navigation .sub-nav li.fs-16 a {
	font-weight: 600;
  	display: inline-block;
}
.top-navigation .sub-nav li.fs-16 a::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: #273240;
    transition: all .5s;
}
.top-navigation .sub-nav li.fs-16 a:hover::after {
 	width: 100%;
}
.positive-impact .our-hotels-list .otentik-exp-images-2 .icon {
	max-width: 70px;
}
.positive-impact .our-purpose {
    height: auto;
    padding: 40px 60px;
    bottom: -40%;
}
.positive-impact .experience-in-mauritius p {
	letter-spacing: inherit;
}
.ellipsis-multiple {
	text-align: justify;
}
.our-hotels-list-rect {
    max-width: 546px;
}
.our-offers-grid .bullet-list.simple-list li {
    color: #5F6A75;
}
.dark.border-1 {
    border: 1px solid #fff;
}
.dark .meetings-events-list.our-hotels-list .gallery-items .gallery-items-para li {
	color: #d3d6d8;
	list-style: disc;
	margin-left: 25px;
	padding-left: 5px;
}
.our-offers-grid .bullet-list.simple-list p {
	color: #5F6a75;
	padding-bottom: 10px;
	letter-spacing: .36px;
	line-height: 24px;
}
.simple-title-text {
	letter-spacing: .36px;
	line-height: 24px;
	color: #5F6A75;
}
.simple-title-text.centered-text {
  	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.inspiration-list .gallery-item-img {
  height: 401px;
}
.our-objectives li .current-goal-status img {
	width: 16px;
}
.ah-masonary .gallery-items-link::after {
    border-bottom: none;
}
.newsletter-subscription-form .ah-btn {
	background: transparent;
}
.our-objectives li {
	max-width: 33%;
	margin: 20px auto;
}
.gallery-items li .bullet-list li {
	margin: 0 !important;
}
.hide-on-tablet {
	display: block;
}
.show-on-tablet {
	display: none;
}
.text-red {
	color: red;
}
div[class*="ah-tripadvisor-header-"] .ah-swiper-arrows {
	top: calc(50% - 15px);
	justify-content: space-between;
	z-index: 2;
}
div[class^="swiper-button-"].tripadvisor-reviews-arrow {
	width: 30px;
	height: 30px;
	border-radius: 0;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, .05);
	background-size: 125%;
}
.tripadvisor-reviews-arrow.swiper-button-disabled {
 	opacity: 0;
}
.inspiration-individual .features-block li {
	width: 25% !important;
	min-width: 25% !important;
	max-width: 25% !important;
}
.gallery-room-content-2 {
	margin-left: 108px;
	margin-right: 108px;
}
.ah-masonary .show-layer > .absolute {
	top: 16px;
	bottom: 16px;
}
.ah-masonary.gap-32 video:not(.ah-play-btn) {
	border-top: 16px transparent solid;
	border-bottom: 16px transparent solid;
}
.ah-masonary.gap-32 .grid-border-top > div.absolute {
	top: 32px;
}
.ah-masonary.gap-32 .grid-border-top img,
.ah-masonary.gap-32 .grid-border-top video {
	border-top: 32px transparent solid;
}
.ah-masonary.gap-32 .grid-no-border-top > div.absolute {
	top: 0;
}
.ah-masonary.gap-32 .grid-no-border-top img,
.ah-masonary.gap-32 .grid-no-border-top video {
	border-top: 0;
}
.ah-masonary .show-layer .gallery-items-link {
  color: #03aac9;
}
.ah-masonary .show-layer .gallery-items-link:after {
  border-bottom: 1px #03aac9 solid;
}
.top-navigation li:not(:last-child) a {
  margin-right: 25px;
}
.open-burger-menu ~ ul > li > a:not(.ah-btn) img {
	vertical-align: middle;
}
.top-navigation .sub-nav li a {
  white-space: normal;
  width: 200px;
  display: block;
}
.sub-nav-img {
  margin-left: 30px;
}
.poz-spa-col-img {
	max-width: 354px;
}
.kids-club-img img,
.kids-club-img video {
	max-width: 433px;
}
.kids-sticker {
	background: none;
}
.otentik-exp-block img,
.otentik-exp-block video {
	max-width: 618px;
}
.otentik-exp-images img,
.otentik-exp-images video {
	max-width: 433px;
}
.otentik-exp-masonary.ah-masonary img:not(.ah-play-btn),
.otentik-exp-masonary.ah-masonary video:not(.ah-play-btn) {
	max-width: 257px;
}
.otentik-exp-images-2 img,
.otentik-exp-images-2 video {
	max-width: 294px;
}
.otentik-exp-images-3 img,
.otentik-exp-images-3 video {
	max-width: 511px;
}
.short-hero img,
.short-hero video {
	max-width: 1051px;
}
.gallery-grid--item a strong {
	text-align: center;
	padding: 20px;
	line-height: 28px;
}
.dark h1,
.dark .gallery-items-para > p {
  color: #fff;
}
.border-2-light {
	border: 1px solid #4e5965;
	color: #4e5965;
}
.widget-area ul.sub {
	margin-left: 5px;
	list-style: initial;
	list-style-position: inside;
}
.widget-area ul.sub li {
	margin-bottom: 4px;
}
.top-links ul.flex li:nth-child(-n+3)::after {
	content: "";
	width: 1px;
	height: 16px;
	border-left: 1px #273240 solid;
	margin-left: 11px;
	margin-right: 11px;
}
.gallery-room-content-2 .absolute .block {
	padding: 0 10px;
	text-align: center;
}
.our-hotels-list .other-experiences img {
  width: 100%;
  object-fit: cover;
}
/* Parsley */
.parsley-error {
	border-color: red;
}
.parsley-errors-list {
	color: red !important;
	padding-top: 2px;
	font-size: 14px;
}
.restaurant-category .gallery-items .gallery-items-para li {
	margin-left: 30px;
	list-style: disc;
}
.newsletter-subscription-form input[type="email"] {
	width: 296px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 6px;
	background: transparent;
	outline: none;
	border-color: #b2b5c1;
}
.newsletter-subscription-form .parsley-errors-list {
	position: absolute;
}
.step {
	display: none;
}
.step.active {
	display: block;
}
.ah-tripadvisor-header-1 .swiper-slide-active,
.ah-tripadvisor-header-2 .swiper-slide-active,
.ah-tripadvisor-header-3 .swiper-slide-active {
	width: auto !important;
}
.otentik-experiences-gallery .grid-gallery-item:nth-child(5) img {
	height: 100%;
}
.ah-filter-hotels-global-quote {
	max-width: 100%;
	margin: 0;
	opacity: 1;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url("../images/get-a-quote/dropdown-arrow-small.svg");
	  background-position-x: 0%;
	  background-position-y: 0%;
	  background-repeat: repeat;
	background-repeat: no-repeat;
	background-position: calc(100% - 14px);
}
.ah-filter-hotels-global-quote label {
	border-radius: 6px;
}
.ah-filter-hotels-global-quote .ah-filter-menu {
  top: 50px;
}
.ah-filter-hotels-global-quote .ah-filter-item  {
	height: 38px;
}
.show-media .play-button {
	position: absolute;
	margin: auto !important;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 85px;
	height: 85px;
	z-index: 1;
}
.cooking-class-popup {
	z-index: 1;
}
.media-popup {
	max-width: 85%;
}
.media-popup video {
	width: 100%;
}
.media-popup .ah-popup-close-white {
	background: rgba(0,0,0, .3) url("../images/icons/exit-white.svg") no-repeat center;
	padding: 15px;
	border-radius: 50%;
	margin: auto;
	z-index: 1;
}
.result-item-title {
  max-width: none;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: .71px;
}

/* Is A Human Captcha */
.text-for-a-human {
	display: none;
	padding-top: 10px;
}
.text-for-a-human strong {
	font-size: 16px;
	line-height: 25px;
}
.text-for-a-human p {
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
}
.text-for-a-human p span {
	color: red;
}

/* Zendesk chat */
#zendeskButton {
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 50px;
	z-index: 9;
}

/* Wisepops notifications */
.wisepops {
	height: 15px;
}
.wisepops::after {
	content: none !important;
}
.wisepops .wisp {
	display: block;
	margin-right: 10px;
	margin-top: -4px;
}
.top-links li:first-child::after {
	content: none;
}
.mobile-wisepops {
	line-height: 40px;
}
.mobile-wisepops .wisp {
	line-height: 50px;
}


/* Lazy loading */
.fade-animation {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nowrap {
	white-space: nowrap;
}

@media screen and (max-width:1295px) {
	.hide-on-tablet {
		display: none;
	}
	.show-on-tablet {
		display: block;
	}
	.inspiration-individual .features-block li {
		width: inherit !important;
		max-width: inherit !important;
		min-width: inherit !important;
	}
}
@media screen and (min-width:1281px) {
	.explore-our-hotels .hotel-item li:nth-child(odd) .hotel-item-title {
		right: 0;
	}
}
@media screen and (max-width:1080px) {
	.megamenu-item .hide-on-mobile {
		display: none !important;
	}
	
	.megamenu-item .show-on-mobile {
		display: block !important;
	}
	.open-burger-menu ~ ul .language-switcher {
	    text-align: center;
	}
	.open-burger-menu ~ ul .language-switcher ul {
	    left: 50%;
		right: auto;
		bottom: 20px;
	}
	.open-burger-menu ~ ul li.has-child .show-sub-nav ul li.fs-16 span {
	    font-size: 18px;
	    font-weight: 600;
	}
	.hotel-selected-tabs {
	    top: 62px;
	}
	.hotel-selected .hotel-selected-tabs,
	.hotel-selected .hotel-selected-tabs.large {
	    top: 110px;
	}
	.list-by-cols .list-by-cols-wrapper {
	    height: 240px;
	}
	.open-burger-menu ~ ul .very-top-links .ah-btn {
	    width: auto;
	}
	.restaurant-category .gallery-items .swiper-container {
	    max-width: none;
	}
	.otentik-exp-block .experience-in-mauritius .otentik-exp-images.order-bottom {
		order: 0;
		margin-top: 25px;
	}
	.kids-club-img > video {
		width: 100%;
		object-fit: cover;
		object-position: top;
	}
	.otentik-exp-block .experience-in-mauritius .otentik-exp-images video {
		max-width: 156px;
	}
	.otentik-exp-block .experience-in-mauritius .otentik-exp-images video:not(.large-img) {
		margin-top: 25px;
		margin-left: 15px;
		margin-bottom: 8px;
	}
	.has-left-parent .prompt-para-icon-alt.absolute {
		right: 0px;
	}
	.gallery-room-content-2 {
		margin: 0;
	}
	.gallery-room-content-2 .odious-slider .swiper-slide img {
		object-fit: cover;
	}
	.gallery-room-content-2 .absolute .block {
		font-size: 14px;
		line-height: 18px;
		padding: 0 5px;
	}
}
@media screen and (min-width:978px) and (max-width:1280px) {
	.ah-experience li.flex:nth-child(n+7) {
		flex: 0;
		margin-left: auto;
	}
	.ah-experience li.flex:nth-child(n+8) {
		flex: 0;
		margin-right: auto;
		margin-left: 0;
	}
}
@media screen and (max-width:812px) {
	.double-list ul {
		width: 100%;
	}
	.hotel-selected .gallery-items {
		padding-top: 25px;
		padding-bottom: 44px;
	}
	.hotel-selected .experience-in-mauritius.prompt-para p {
	    display: block;
	}
	.get-a-quote-form input[type="radio"] ~ .checkbox::before {
	    padding-top: 1px;
	}
	.restaurant-category .gallery-items ul li:not(.swiper-slide) {
	    flex-direction: column;
	    padding-bottom: 40px;
	    margin-bottom: 0;
	}
	.restaurant-category .gallery-items .swiper-container {
	    width: 100%;
	    max-width: none;
	}
	.restaurant-category .gallery-room-content {
	    margin-top: 16px;
	    margin-left: 0;
	    margin-right: 0;
	    order: 2;
	}
	.restaurant-category .gallery-items .result-item-title {
	    margin-bottom: -2px;
	    font-size: 20px;
	    line-height: 26px;
	    letter-spacing: .44px;
	}
	.restaurant-category .gallery-items-para {
	    font-size: 15px;
	    line-height: 24px;
	}
	.restaurant-category .gallery-items .bullet-list {
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-bottom: -10px;
	    line-height: 36px;
	}
	.large-text .experience-in-mauritius.has-right-icon .prompt-para-icon {
    	margin-left: auto;
	}
	.large-text .experience-in-mauritius .prompt-para-icon {
	    position: static;
	}
	.title-section .has-icon img {
	    height: 126px;
	}
	.our-hotels-list .gallery-items .result-item-title {
		margin-top: 0;
		padding-top: 20px;
	}
	.meetings-events-list.our-hotels-list {
	    margin-bottom: 0;
	    padding-bottom: 12px;
	}
	.hotel-selected .experience-in-mauritius p {
		display: block;
	}
	.positive-impact-testimonial .experience-in-mauritius {
	    flex-direction: column;
	    align-items: center;
	}
	.positive-impact-testimonial .experience-in-mauritius .flex.flex-col {
	    order: 2;
	    margin-top: 13px;
	    text-align: center;
	    margin-left: 0;
	}
	.positive-impact-testimonial .experience-in-mauritius h2 {
	    padding-bottom: 0;
	    max-width: none;
	}
	.positive-impact-testimonial .experience-in-mauritius .gallery-items-para {
	    font-size: 16px;
	}
	.positive-impact-testimonial .experience-in-mauritius p {
	    max-width: none;
	}
	.our-hotels-list-text .experience-in-mauritius p {
	    margin: 0;
	}
	.otentik-exp-list.our-hotels-list {
	    margin-bottom: 0;
	}
	.footer {
		height: inherit;
	}
	.footer ul.flex {
		display: block;
	}
	.footer ul.flex li a {
		display: block;
		padding: 12px 0;
	}
	.footer .language-switcher {
	    bottom: 240px;
	}
	.meetings-events-icon {
		top: -40px;
	}
	.meetings-events-icon img {
		max-width: 150px;
	}
	.positive-impact .main .template-banners video:last-of-type {
		width: initial;
	}
	.main .template-banners video:last-of-type {
		max-width: 375px;
		width: 100%;
	}
	.otentik-exp-intro-text .our-hotels-list .otentik-exp-images-3 {
		margin-right: 0;
	}
	.ah-popup-content:not(.call-up-popup) .ah-popup-top {
		height: auto;
		border-bottom: none;
	}
	.get-a-quote-form > div:first-child {
	  	max-width: inherit;
	}
}

.eat-drink-intro-text h2 {
	color: #4e5965;
}
.eat-drink-intro-text .ah-btn.darkgray-text {
	color: #4e5965;
}
.eat-drink-intro-text .ah-btn.border-1 {
	border: 1px #4e5965 solid;
}



/* FAQ */
.faq-dropdown--toggle {
 	padding: 13px 40px 10px 10px;
}
.faq-dropdown--text {
	padding-top: 6px;
	padding: 3px 6px 6px;
}
.faq-dropdown--item:hover,
.faq-dropdown--item.active,
.faq-dropdown.expanded .faq-dropdown--text:hover,
.faq-dropdown.expanded .faq-dropdown--text.active {
  	background-color: #03aac9;
}
.faq-dropdown .faq-dropdown--text.is-expanded {
  	display: none;
}
.faq-dropdown.expanded .faq-dropdown--text:not(.is-expanded) {
  	display: none;
}
.faq-dropdown.expanded .faq-dropdown--text.is-expanded {
  	display: block;
}
.faq-dropdown--item, a.is-expanded {
	color: inherit;
	display: block;
}
@media (min-width: 768px) {
	.faq-search input {
		padding-left: 51px;
	}
	.faq-search button {
		left: 6px;
		pointer-events: none;
	}
}

/**
--------------------------------------------------
  Popup
--------------------------------------------------
**/
.ah-popup-content.media-popup {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.ah-popup-content.media-popup video {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background-color: black;
}

/* mobile */
@media (max-width: 767px) {
  .ah-popup-content.media-popup {
    max-width: calc(100% - 60px) !important;
    max-height: calc(100vh - 60px) !important;
  }
  .ah-popup-content.media-popup video {
    max-height: calc(100vh - 60px) !important;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .ah-popup-content.media-popup {
    max-width: calc(100% - 100px) !important;
    max-height: calc(100vh - 100px) !important;
  }
  .ah-popup-content.media-popup video {
    max-height: calc(100vh - 100px) !important;
  }
}
